
.input-msg{
 --border-radius: 10px;
 --background:var(--ion-color-chatcolor);
} 

.chat-item{
  --padding-top: 10px;
  --padding-bottom: 10px;

    &.bot{
      --background: var(--ion-color-backgroundchat);
    }
}
.empty{
  position: relative;
}
